<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/styles.css') }}"
  >

</head>
<body>
    <h1>Módulo: Usuário</h1>
    <ul>
        <li><a href="{{ url_for('usuario.inserir') }}">1- Cadastrar Novo</a></li>
        <li><a href="{{ url_for('usuario.lista2') }}">2- Lista2</a></li>
        <li><a href="{{ url_for('usuario.consultar_codigo') }}"">2- Manutenção cadastro </a></li>
    </ul>

    <br />

    <div class="button-container">
        <br />
        <!--    <button class="btn salvar">Salvar</button>-->
        <button class="btn voltar" onclick="Retornar()">Retornar</button>
        <!--    <button class="btn atualizar">Atualizar</button>-->
    </div>

    <script>
        function Retornar() {
          window.location.href = "{{ url_for('menu.menu_modulo_cadastros_gerais') }}";
        }
    </script>

</body>
</html>